# Build artifacts
target/
**/target/
**/*.exe
**/*.pdb
**/*.dll
**/*.so
**/*.dylib
**/*.rlib
**/*.rmeta

# Node, IPC & Temp
node_modules/
npm-debug.log*
.DS_Store
Thumbs.db
*.tmp
*.log
*.ipc

# Tooling & Backups
.atl/
*.backup*

